@tailwind base;

@layer base {
  @font-face {
    font-family: "BeVietnamPro";
    src: url("/fonts/BeVietnamPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "BeVietnamPro";
    src: url("/fonts/BeVietnamPro-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: "BeVietnamPro";
    src: url("/fonts/BeVietnamPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }
}

@layer base {

  html {
    --font-body: "BeVietnamPro";
    direction: ltr;
  }

  body {
    font-family: var(--font-body), sans-serif;
  }

}